body {
  font-family: "Montserrat";
  text-align: center;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Montserrat-Bold";
}
h2 {
  color: black;
  font-size: 32px;
  font-family: "Amatic SC", cursive;
}

p {
  color: #8f8f8f;
}

/* Headings*/

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* BMI BOX */

/* Sections */

.colored-section {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  color: #000;
}

.white-section {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.audio {
  font-family: "Cinzel Montserrat-Black";
  padding: 7% 15%;
}

/* Title Section*/

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title Text */

.title-text {
  width: 60%;
  position: absolute;
  right: 30%;
}

.btn {
  box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
  background-color: #dfbdfa;
  border-radius: 6px;
  border: 1px solid #c584f3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9752cc;
}
.myButton:hover {
  background: linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
  background-color: #bc80ea;
}
.myButton:active {
  position: relative;
  top: 1px;
}

/* Testimomial Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-image {
  width: 100%;
  margin: 20px;
}

.testimonial-video {
  width: 100%;
  margin: 20px;
}

/* Footer Section */

.social-icon {
  margin: 20px 10px;
}

#weight,
#height {
  width: 250px;
  padding: 10px 10px;
  border-radius: 7px;
  border-color: white;
  border-left: none;
  border-top: none;
  outline: none;
  margin-top: 10px;
}

#submitBtn {
  margin-top: 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
  }
}
